@media screen and (min-width: 576px) {
    .recent-news-item,
    .mining-news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .top-nav {
        max-width: 690px;
        display: flex;
        justify-content: space-between;
        place-items: center;
        padding: 0.8rem 0;
    }
    .container {
        max-width: 690px;
    }
    nav {
        justify-content: space-between;
        padding: 0 0;
    }
    .menu-btn {
        display: none;
    }
    .main-menu {
        position: relative;
        top: 0;
        display: flex;
        justify-content: flex-end;
        background-color: #fff;
        box-shadow: none;
        visibility: visible;
    }
    .main-menu li {
        display: inline-block;
        border-top: 0;
        padding: 0;
    }
    .main-menu li a {
        letter-spacing: 0;
        font-size: 12px;
        padding-left: 0.7rem;
    }
    .main-menu li a:hover {
        padding-left: 0.7rem;
    }
    main {
        padding: 0;
    }
    .banner {
        height: 603px;
    }
    .first-row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 402px;
        margin-bottom: 0.25rem;
    }
    .first-row>div {
        height: 397px !important;
    }
    .second-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*gap: .75rem;*/
    }
    .banner-item {
        height: 197px !important;
        margin-bottom: 0;
        margin: 0.25rem;
    }
    .item-info {
        background: none;
    }
    .sidebar {
        max-width: 330px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .top-nav {
        max-width: 930px;
    }
    .container {
        max-width: 930px;
    }
    .logo {
        width: 10rem;
    }
    .news-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
    }
    .sidebar {
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .top-nav {
        max-width: 1110px;
    }
    .container {
        max-width: 1110px;
    }
}