@import url("https://fonts.googleapis.com/css?family=Encode Sans Expanded:400,600,700&display=swaps");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    font-family: "Encode Sans Expanded", sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

ul li>i {
    color: #f9b500;
}

.bg-black {
    background-color: #191919;
}

.top-nav {
    max-width: 720px;
    margin: 0 auto;
    overflow-x: hidden;
}

.top-nav-links,
.top-nav-social {
    text-align: center;
}

.top-nav-links li,
.top-nav-social li {
    display: inline-block;
    text-align: center;
    padding-right: 0.75rem;
    line-height: 1.6;
}

.top-nav-social li:last-of-type {
    padding-right: 0;
}

.top-nav-links li a,
.top-nav-social li a {
    color: #aaaaaa;
    font-size: 11px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s linear;
}

.top-nav-links li a:hover,
.top-nav-social li a:hover {
    color: #f9b500;
}

.container {
    max-width: 510px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    place-items: center;
    position: relative;
    height: 70px;
    padding: 0 1rem;
}

.logo {
    width: 7rem;
}

.menu-btn {
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.menu-btn:hover {
    color: #f9b500;
}

.main-menu {
    position: absolute;
    width: 70vw;
    height: auto;
    top: 4rem;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    visibility: hidden;
}

.show-menu {
    visibility: visible;
}

.main-menu li {
    padding: 1rem;
    border-top: 1px solid #eeeeee;
    cursor: pointer;
}

.main-menu li a {
    display: block;
    color: #333;
    font-size: 0.8125rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s linear;
}

.main-menu li:hover a {
    color: #f9b500 !important;
    padding-left: 5px;
}

main {
    position: relative;
    padding: 0 1rem;
}

.banner-item {
    position: relative;
    height: 300px !important;
    margin-bottom: 0.75rem;
    cursor: pointer;
    overflow: hidden;
}

.banner-item::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.item-info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1.25rem;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 10;
}

.item-title {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.item-info ul li {
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 0.75rem;
    line-height: 2;
}

.item-info ul span,
.item-info ul i {
    color: #f9b500;
    font-weight: 700;
    font-size: 13px;
}

.bg-1 {
    background-image: url(../images/banner-1-600x450.jpg);
    background-size: cover;
    background-position: center;
}

.bg-2 {
    background-image: url(../images/slider-2-450x600.jpg);
    background-size: cover;
    background-position: center;
}

.bg-3 {
    background-image: url(../images/slider-3-450x600.jpg);
    background-size: cover;
    background-position: center;
}

.bg-4 {
    background-image: url(../images/slider-4-450x600.jpg);
    background-size: cover;
    background-position: center;
}

.bg-5 {
    background-image: url(../images/slider-5-450x600.jpg);
    background-size: cover;
    background-position: center;
}

.bg-6 {
    background-image: url(../images/slider-6-450x600.jpg);
    background-size: cover;
    background-position: center;
}

.news-title {
    position: relative;
    text-transform: uppercase;
    color: #333333;
    margin: 3rem 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
}

.news-title:before {
    position: absolute;
    content: " ";
    left: 0;
    bottom: -1px;
    width: 5.25rem;
    height: 0.35rem;
    background-color: #f9b500;
}


/* .recent-news-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.9rem;
} */

.first-column {
    display: flex;
    flex-direction: column;
}

.first-column-img {
    width: 100%;
}

.first-column-title {
    margin-top: 1rem;
    font-size: 1.15rem;
    font-weight: 700;
    color: #333333;
    line-height: 1.5;
    transition: all 0.3s linear;
}

.first-column-title:hover {
    color: #f9b500;
}

.first-column-list {
    margin: 0.75rem 0 1.5rem 0;
}

.first-column-list li {
    display: inline-block;
    font-size: 13px;
    color: #888888;
    margin-right: 1.25rem;
    line-height: 2;
}

.first-column-list li a {
    font-weight: 700;
    text-transform: capitalize;
    color: #333333;
    transition: all 0.3s linear;
}

.first-column-list li a:hover {
    color: #f9b500;
}

.first-column-text {
    color: #555555;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 2rem;
}

.popular-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 1.25rem;
}

.popular-item-info {
    margin-left: 1rem;
}

.popular-item-info a {
    color: #333333;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    transition: all 0.3s linear;
}

.popular-item-info a:hover {
    color: #f9b500;
}

.popular-item-info p {
    font-size: 13px;
    color: #888888;
    margin-top: 0.5rem;
    line-height: 1.5;
}

.popular-item-info span {
    color: #333333;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}